@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgba(4, 30, 82,0.6);
  background-size: cover;
  background-position: center;
}

.container{
    position: relative;
    width: 400px;
    height: 555px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    backdrop-filter: blur(30px);
    border: 2px solid rgba(255, 255, 255, .2);
    padding: 20px;
    color: #fff;
}

.search{
    position: relative;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
}

.search #loc{
    position: absolute;
    left: 10px;
    font-size: 28px;
}

.search input{
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    outline: none;
    font-size: 22px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0 48px 0 42px;
    cursor: pointer;
    border-radius: 10px;  
}

.search input::placeholder{
    color: #fff;
    text-transform: capitalize;
}

/* weatherbox - dashboard
box - wrapper
info-wether - temp
weather-weather */
.dashboard{
    text-align: center;
    margin: 40px 0;
}

.dashboard img{
    width: 40%;
}

.dashboard .city-temp{
    position:relative;
    font-size: 64px;
    line-height: 1;
    font-weight: 700;
    margin: 10px 0 6px -30px ;
}

.dashboard .city-temp span{
    position: absolute;
    font-size: 24px;
    margin-left: 4px;
}


.dashboard .desc{
    font-size: 22px;
    font-weight: 500;  
    text-transform: capitalize;
}

.dashboard .desc span{
  font-size: 22px;
  font-weight: 500;  
  text-transform: capitalize;
  color: rgb(87, 85, 85);
}


.data{
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    padding: 0 20px;
    display: flex;
}

.data .humidity
.data .wind{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.humidity{
  font-size: 18px;
  position: absolute;
  bottom: 0;
}

.wind{
  position: absolute;
  bottom: 0px;
  right: 0px;
}


.data .humidity{
    padding-left: 20px;
    justify-content: flex-start;
    float: left;
}

.data .wind{
    padding-right: 20px;
    
}

.text span{
  color: rgb(87, 85, 85);
}

.data #icon{
    font-size: 30px;
    margin-right: 10px;
}

.data #icon2{
  font-size: 30px;
}

.data span{
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
}

.data p{
    font-size: 14px;
    font-weight: 600;
}